%p#notice= notice

%p
  %b Nome da Qualidade do Parceiro:
  = @qualidadeparceiro.Nomequalidadep

= link_to 'Editar', edit_qualidadeparceiro_path(@qualidadeparceiro)
\|
= link_to 'Voltar', qualidadeparceiros_path
