
<font face= size="1" color="red"> <center> <h1> Seja Bem Vindo </h1> </font>

<b> <h3> Aplicativo You And Me </h3> </center>


O aplicativo aborda o diferencial de poder conhecer alguém, simplesmente jogando um quebra-cabeça, ou seja, tentando encaixar partes das fotos disponibilizadas no perfil da pessoa. Assim como contará com a sincronização da qualidade que você mais gosta e defeito que menos gosta, para encontrar alguém que se descreva de forma igual a que você busca, sendo assim, você receberá um alerta de compatibilidade de perfil que você busca (quando solicitar a combinação), mas a mesma não receberá a notificação caso você não tenha o perfil compatível com o que ela busca. Mas ainda assim o jogo pode começar, junto com o alerta você recebe uma parte do quebra cabeça que a pessoa escolheu como parte principal da foto dela, você escolhe aceitar para explorar e daí a pessoa pode aceitar ou não que você jogue com ela. Se aceitar a pessoa recebe a parte do quebra-cabeça que você escolheu como principal e você a dela; as duas pessoas terão apenas uma peça base, e visualizará várias outras peças de outras pessoas aleatoriamente, junto com peças que se encaixam com a peça principal do parceiro(a). Optando pela peça que ache que combine com a peça principal da foto, será feito a tentativa de encaixe, caso funcione você pode tentar mais uma peça e assim sucessivamente até que tenha a foto completa, e em caso de falha, o seu parceiro(a) que terá a chance de jogar. Finalizado o jogo, você receberá todas as informações do perfil da pessoa combinada.

</b>
