%p#notice= notice

%p
  %b Nome do defeito do parceiro:
  = @defeitoparceiro.Nomedefeitop

= link_to 'Editar', edit_defeitoparceiro_path(@defeitoparceiro)
\|
= link_to 'Voltar', defeitoparceiros_path
